button.marker-btn {
    background-color: transparent;
    border: none;

}

#location {
    fill: #018484;
}

#location:hover {
    fill: #00BBBB;
}

.map-popup {
    border-radius: 4px;
    padding: 12px 12px 12px 12px;
    max-width: 450px;
}

.mapboxgl-popup-close-button {
    font-size: 2rem;
    padding: 4px 12px 4px 12px;
}

.label {
    display: inline;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding-right: 4px;
}

.map-popup p {
    margin: 4px 0px 4px 0px;
}

.map-popup h3 {
    margin: 0;
}

.info-div {
    margin-top: 12px;
}

.label-row {
    display: flex;
}
